@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700,500&display=swap');

@font-face {
  font-family: 'LexendRegular';
  src: url('/fonts/Lexend-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LexendBold';
  src: url('/fonts/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'LexendRegular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reviews-scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
  display: flex;
  width: 100%;
}

.reviews-scroll-container::-webkit-scrollbar {
  display: none;
}

.reviews-scroll-container:active {
  cursor: grabbing;
}

.lexend-bold , h1, h2{
  font-family: 'LexendRegular', sans-serif;
  font-weight: 700;
}

.Lexend-Medium {
  font-family: 'LexendRegular', sans-serif;
  font-weight: 500;
}

/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}

.theme-dark-bg {
  background-color: #242344;
}

.theme-dark-text {
  color: #242344;
}